### Nominal Encoding (One-Hot Encoding)
#### Nominal encoding, also known as One-Hot Encoding (OHE), is a technique used to convert categorical data into a format that can be used by machine learning algorithms. It transforms each category into a new binary column (0 or 1).

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({
    'color' : ['Red','Orange', 'Green', 'Blue', 'Orange', 'Red', 'Blue', "Red"]
})

df

    color
0     Red
1  Orange
2   Green
3    Blue
4  Orange
5     Red
6    Blue
7     Red

In [8]:
encoder = OneHotEncoder()

encoded = encoder.fit_transform(df[['color']]).toarray()
encoded

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [10]:
encoded_df = pd.DataFrame(encoded,columns = encoder.get_feature_names_out())
encoded_df

   color_Blue  color_Green  color_Orange  color_Red
0         0.0          0.0           0.0        1.0
1         0.0          0.0           1.0        0.0
2         0.0          1.0           0.0        0.0
3         1.0          0.0           0.0        0.0
4         0.0          0.0           1.0        0.0
5         0.0          0.0           0.0        1.0
6         1.0          0.0           0.0        0.0
7         0.0          0.0           0.0        1.0