### Label Encoding
#### Label Encoding is a technique used to convert categorical data into numerical data. Each category is assigned a unique integer. This is useful for machine learning algorithms that need numerical input.

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.DataFrame({
    'color' : ['Red','Orange', 'Green', 'Blue', 'Orange', 'Red', 'Blue', "Red"]
})
df

    color
0     Red
1  Orange
2   Green
3    Blue
4  Orange
5     Red
6    Blue
7     Red

In [8]:
lbl_encoder = LabelEncoder()

df_encoded = lbl_encoder.fit_transform(df[['color']])
df_encoded

c:\Users\91949\OneDrive\Desktop\Hemanth\Data science\Krish Naik\3_Feature engineering\Hands on\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([3, 2, 1, 0, 2, 3, 0, 3])

In [10]:
lbl_encoder.transform([['Red']])

c:\Users\91949\OneDrive\Desktop\Hemanth\Data science\Krish Naik\3_Feature engineering\Hands on\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([3])

### Ordinal Encoding
#### Ordinal Encoding is similar to Label Encoding, but it is used when the categories have an inherent order. For example, "Low," "Medium," and "High" have a natural order.

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
df1 = pd.DataFrame({
    'risk' : ['low','high', 'medium', 'negligeble', 'high', 'low', 'medium', "high"]
})
df1

         risk
0         low
1        high
2      medium
3  negligeble
4        high
5         low
6      medium
7        high

In [15]:
ordinal_encoder = OrdinalEncoder(categories=[['negligeble','low','medium','high']])

df1_encoded = ordinal_encoder.fit_transform(df1[['risk']])
df1_encoded

array([[1.],
       [3.],
       [2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [3.]])