# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(1,10,size=(6,4)), columns=('A','B','C','D'))
print(df)
df.set_index('A', inplace=True)
print(df)

   A  B  C  D
0  6  1  8  6
1  2  8  4  9
2  2  7  6  7
3  2  5  3  3
4  8  3  7  4
5  1  1  8  6
   B  C  D
A
6  1  8  6
2  8  4  9
2  7  6  7
2  5  3  3
8  3  7  4
1  1  8  6

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [9]:
df = pd.DataFrame(np.random.randint(1,10,size=(3,3)), columns = ('A','B','C'), index = ('x','y','z'))
print(df)

print(df.at['y','B'])

   A  B  C
x  8  3  9
y  3  1  3
z  4  2  8
1

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [19]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)))
print(df)
df_new_column = df[0]*df[1]
# df_final = df + df_new_column
# print(df_final)
df[3] = df_new_column
print(df)

   0  1  2
0  2  8  2
1  8  1  3
2  7  6  5
3  5  2  8
4  8  4  5
   0  1  2   3
0  2  8  2  16
1  8  1  3   8
2  7  6  5  42
3  5  2  8  10
4  8  4  5  32

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [36]:
df = pd.DataFrame(np.random.randint(1,10,size=(4,3)),columns=('A','B','C'))
print(df)

# row_wise_sum = df['A'] + df['B'] + df['C']
# print(row_wise_sum)

row_wise_sum = df.sum(axis=1)
print(row_wise_sum)

column_wise_sum = df.sum(axis=0)
print(column_wise_sum)

   A  B  C
0  9  3  5
1  8  8  5
2  5  3  1
3  5  5  8
0    17
1    21
2     9
3    18
dtype: int64
A    27
B    19
C    19
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [53]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)), columns=('A','B','C'))
print(df)
df.at[1,'A'] = np.nan
df.at[2,'C'] = np.nan
print(df)

print(df.mean())
df = df.fillna(df.mean())
print(df)

   A  B  C
0  9  1  2
1  6  3  1
2  1  1  2
3  4  4  3
4  8  1  7
     A  B    C
0  9.0  1  2.0
1  NaN  3  1.0
2  1.0  1  NaN
3  4.0  4  3.0
4  8.0  1  7.0
A    5.50
B    2.00
C    3.25
dtype: float64
     A  B     C
0  9.0  1  2.00
1  5.5  3  1.00
2  1.0  1  3.25
3  4.0  4  3.00
4  8.0  1  7.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [14]:
df = pd.DataFrame(np.random.randint(1,10,size=(6,4)) ,columns=('A','B','C','D'))
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,2] = np.nan
df.iloc[4,3] = np.nan
df.iloc[1,3] = np.nan

print(df)
df.dropna(inplace=True)
print(df)

   A  B  C  D
0  2  4  6  5
1  2  7  9  1
2  6  4  4  5
3  4  4  1  7
4  5  3  3  8
5  1  1  2  4
   A  B    C    D
0  2  4  NaN  5.0
1  2  7  NaN  NaN
2  6  4  4.0  5.0
3  4  4  1.0  7.0
4  5  3  3.0  NaN
5  1  1  2.0  4.0
   A  B    C    D
2  6  4  4.0  5.0
3  4  4  1.0  7.0
5  1  1  2.0  4.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [25]:
data = [{'category':'A', 'value':10},{'category':'B', 'value':15},{'category':'C', 'value':8},
        {'category':'B', 'value':20},{'category':'A', 'value':43},{'category':'B', 'value':7},
        {'category':'C', 'value':30},{'category':'C', 'value':22},{'category':'B', 'value':9},
        {'category':'A', 'value':2},{'category':'C', 'value':21},{'category':'A', 'value':14}]

df = pd.DataFrame(data=data)
print(df)

group_df = df.groupby('category')['value'].agg(['sum','mean'])
print(group_df)

   category  value
0         A     10
1         B     15
2         C      8
3         B     20
4         A     43
5         B      7
6         C     30
7         C     22
8         B      9
9         A      2
10        C     21
11        A     14

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [37]:
df = pd.DataFrame({'product' : np.random.choice(['prod1','prod2','prod3'],size=10),
                   'category': np.random.choice(['A','B','C'],size=10) , 
                   'sales' : np.random.randint(1,10,size=10)})
print(df)

group_df = df.groupby('category')['sales'].sum()
print(group_df)

  product category  sales
0   prod2        C      8
1   prod1        A      6
2   prod3        C      5
3   prod2        C      7
4   prod3        B      3
5   prod1        C      4
6   prod1        B      9
7   prod1        C      6
8   prod3        C      3
9   prod2        A      7
category
A    13
B    12
C    33
Name: sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [48]:
df_1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
print(df_1)

df_2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print(df_2)

merge_df_1 = df_1.merge(df_2 ,on='Key')
print(merge_df_1)

merge_df = pd.merge(df_1,df_2 ,on='Key')
print(merge_df)

  Key  Value1
0   A      47
1   B      64
2   C      38
3   D      33
  Key  Value2
0   A      12
1   B      34
2   C      15
3   E      47
  Key  Value1  Value2
0   A      47      12
1   B      64      34
2   C      38      15
  Key  Value1  Value2
0   A      47      12
1   B      64      34
2   C      38      15

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [56]:
df_1 = pd.DataFrame(np.random.randint(1,10,size=(6,3)),columns=('A','B','c'))
df_2 = pd.DataFrame(np.random.randint(1,10,size=(6,3)),columns=('A','B','c'))

print(df_1)
print(df_2)

df_3 = pd.concat([df_1,df_2] , axis=0)
df_4 = pd.concat([df_1,df_2] , axis=1)
print("concatinating along rows")
print(df_3)
print("concatinating along columns")
print(df_4)

   A  B  c
0  8  1  1
1  4  1  3
2  9  4  5
3  8  6  9
4  3  6  5
5  2  9  1
   A  B  c
0  7  4  9
1  8  7  1
2  2  1  5
3  1  5  1
4  5  1  6
5  9  8  3
concatinating along rows
   A  B  c
0  8  1  1
1  4  1  3
2  9  4  5
3  8  6  9
4  3  6  5
5  2  9  1
0  7  4  9
1  8  7  1
2  2  1  5
3  1  5  1
4  5  1  6
5  9  8  3
concatinating along columns
   A  B  c  A  B  c
0  8  1  1  7  4  9
1  4  1  3  8  7  1
2  9  4  5  2  1  5
3  8  6  9  1  5  1
4  3  6  5  5  1  6
5  2  9  1  9  8  3

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [70]:
dates = pd.date_range('2024-10-01','2024-12-28' ,freq='D')

df = pd.DataFrame({'Date': dates , 'Data': np.random.randint(1,50 ,size=(len(dates)))})

df.set_index('Date', inplace=True)
print(df)

df_mean = df.resample('M').mean()
print(df_mean)

            Data
Date
2024-10-01    13
2024-10-02    24
2024-10-03    15
2024-10-04    20
2024-10-05     9
...          ...
2024-12-24    35
2024-12-25     5
2024-12-26    44
2024-12-27    48
2024-12-28    37

[89 rows x 1 columns]
                 Data
Date
2024-10-31  20.580645
2024-11-30  24.133333
2024-12-31  27.357143

C:\Users\91949\AppData\Local\Temp\ipykernel_13208\2955884713.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [82]:
date = pd.date_range('2021-01-01', '2021-12-31', freq='D')
df = pd.DataFrame({'Date': date , 'Data': np.random.randint(1,30,size=(len(date)))})
df.set_index('Date' , inplace=True)
#print(df)

df_mean = df.rolling(window=7).mean()
df_mean

                 Data
Date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  15.000000
2021-12-28  17.000000
2021-12-29  17.571429
2021-12-30  18.428571
2021-12-31  19.571429

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [92]:
date = pd.date_range('2021-12-01','2021-12-20', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date, size=20), 
                   'Category': np.random.choice(['A','B','C','D'], size=20), 
                   'Value': np.random.randint(1,10, size=20)})
print(df)

pivot_df = df.pivot_table(values ='Value', index ='Date', columns='Category', aggfunc='sum')
print('pivot table')
print('------------')
print(pivot_df)

         Date Category  Value
0  2021-12-16        B      7
1  2021-12-14        D      2
2  2021-12-02        D      6
3  2021-12-17        D      6
4  2021-12-18        A      7
5  2021-12-02        A      6
6  2021-12-15        D      9
7  2021-12-18        D      4
8  2021-12-03        A      9
9  2021-12-06        C      8
10 2021-12-06        C      7
11 2021-12-19        D      4
12 2021-12-10        C      1
13 2021-12-07        B      2
14 2021-12-06        C      4
15 2021-12-11        D      3
16 2021-12-19        C      3
17 2021-12-05        C      3
18 2021-12-12        C      3
19 2021-12-19        A      1
pivot table
------------
Category      A    B     C    D
Date
2021-12-02  6.0  NaN   NaN  6.0
2021-12-03  9.0  NaN   NaN  NaN
2021-12-05  NaN  NaN   3.0  NaN
2021-12-06  NaN  NaN  19.0  NaN
2021-12-07  NaN  2.0   NaN  NaN
2021-12-10  NaN  NaN   1.0  NaN
2021-12-11  NaN  NaN   NaN  3.0
2021-12-12  NaN  NaN   3.0  NaN
2021-12-14  NaN  NaN   NaN  2.0
2021-12-15  NaN  NaN   NaN  9.0
2021-12-16  NaN  7.0   NaN  NaN
2021-12-17  NaN  NaN   NaN  6.0
2021-12-18  7.0  NaN   NaN  4.0
2021-12-19  1.0  NaN   3.0  4.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [95]:
df = pd.DataFrame({'Year': np.random.choice(['2021','2022', '2023', '2024'], size=20),
                   'Quarter': np.random.choice(['Q1','Q2','Q3','Q4'], size=20),
                   'revenue': np.random.randint(1000,2500, size=20)})
print(df)

pivot_df = df.pivot_table(values = 'revenue', index = 'Year', columns = 'Quarter' ,aggfunc='mean')
print(pivot_df)

    Year Quarter  revenue
0   2021      Q4     1369
1   2023      Q3     1558
2   2021      Q3     1017
3   2021      Q3     2238
4   2022      Q3     1054
5   2023      Q2     1370
6   2021      Q4     1890
7   2023      Q4     1255
8   2024      Q1     2418
9   2021      Q4     1230
10  2024      Q3     1155
11  2024      Q3     2176
12  2021      Q1     2034
13  2021      Q4     1850
14  2022      Q4     2213
15  2024      Q2     2280
16  2022      Q2     2444
17  2024      Q4     1205
18  2022      Q1     2309
19  2024      Q3     1898
Quarter      Q1      Q2      Q3       Q4
Year
2021     2034.0     NaN  1627.5  1584.75
2022     2309.0  2444.0  1054.0  2213.00
2023        NaN  1370.0  1558.0  1255.00
2024     2418.0  2280.0  1743.0  1205.00

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [99]:
def double_df_values(df):
    return df+df


df = pd.DataFrame(np.random.randint(1,20, size = (5,3)), columns = ['column_1','column_2','column_3'])
print(df)

print(double_df_values(df))

   column_1  column_2  column_3
0         5        14         9
1        14         1        10
2        18         7         1
3        12        15         2
4        12        18        14
   column_1  column_2  column_3
0        10        28        18
1        28         2        20
2        36        14         2
3        24        30         4
4        24        36        28

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [103]:
df = pd.DataFrame(np.random.randint(1,10 ,size=(6,3)), columns=['column_1','column_2','column_3'])
print(df)

df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print(df)

   column_1  column_2  column_3
0         1         1         8
1         7         4         8
2         2         9         1
3         9         4         3
4         7         1         5
5         1         1         1
   column_1  column_2  column_3  Sum
0         1         1         8   10
1         7         4         8   19
2         2         9         1   12
3         9         4         3   16
4         7         1         5   13
5         1         1         1    3

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [105]:
pd_series = pd.Series(['Apple', 'Oranges', 'Grapes', 'guava'])
print(pd_series.str.upper())

0      APPLE
1    ORANGES
2     GRAPES
3      GUAVA
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [107]:
pd_series = pd.Series(['Apple', 'Oranges', 'Grapes', 'guava'])
pd_series.str[:3]

0    App
1    Ora
2    Gra
3    gua
dtype: object