# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
import sqlite3

def create_database():
    conn = sqlite3.Connection('test.db')
    conn.close()
    print("Database test_db created")

create_database()

Database test_db created

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [4]:
def create_table():
    conn = sqlite3.Connection('test.db')
    cur = conn.cursor()
    cur.execute('''
                create table if not exists employees(
                id integer primary key,
                name text not null,
                age integer,
                department text
                )
                ''')
    conn.commit()
    conn.close()
    print("Table employees got created")


create_table()

Table employees got created

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [9]:
def new_employee(id,name,age,dep):
    conn = sqlite3.Connection('test.db')
    cur = conn.cursor()
    cur.execute('''
                   insert into employees(id,name,age,department)
                    values(?,?,?,?)
            ''',(id,name,age,dep))
    conn.commit()
    conn.close()
    print("New employee got added")

new_employee(2,'Raju',29,'HR')

New employee got added

2. Insert at least 5 different employees into the `employees` table.

In [10]:
new_employee(42,'Ramu',32,'Data scientist')
new_employee(54,'Ravi',42,'Data analyst')
new_employee(27,'Rajesh',25,'security')
new_employee(12,'babji',38,'Beggar')
new_employee(90,'bannu',37,'CEO')

New employee got added
New employee got added
New employee got added
New employee got added
New employee got added

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [31]:
def fetch_employees():
    conn = sqlite3.Connection('test.db')
    cur = conn.cursor()
    cur.execute('''
                    select * from employees
                ''')
    records = cur.fetchall()
    conn.close()
    for record in records:
        print(record)
    
fetch_employees()

(1, 'Hemanth', 30, 'Data engineer')
(2, 'Raju', 29, 'HR')
(12, 'babji', 38, 'Beggar')
(27, 'Rajesh', 25, 'security')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(90, 'bannu', 37, 'CEO')

2. Write a Python function to fetch and display all employees from a specific department.

In [22]:
def fetch_emp_dep(dep):
    conn = sqlite3.Connection('test.db')
    cur = conn.cursor()
    cur.execute(' select * from employees where department = ? ',(dep,))
    records = cur.fetchall()
    conn.close()
    for record in records:
        print(record)
    
fetch_emp_dep('HR')

(2, 'Raju', 29, 'HR')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [33]:
def updt_dep_id(id,dep):
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    cur.execute('''update employees
                set department = ?
                where id = ?
                ''',(dep,id))
    conn.commit()    
    conn.close()
    print('Records got updated')

updt_dep_id(1,'Data scientist')
fetch_employees()

Records got updated
(1, 'Hemanth', 30, 'Data scientist')
(2, 'Raju', 29, 'HR')
(12, 'babji', 38, 'Beggar')
(27, 'Rajesh', 25, 'security')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(90, 'bannu', 37, 'CEO')

2. Update the department of at least 2 employees and display the updated records.

In [35]:
updt_dep_id(12,'manager')
updt_dep_id(27,'Data scientist')
fetch_employees()

Records got updated
Records got updated
(1, 'Hemanth', 30, 'Data scientist')
(2, 'Raju', 29, 'HR')
(12, 'babji', 38, 'manager')
(27, 'Rajesh', 25, 'Data scientist')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(90, 'bannu', 37, 'CEO')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [40]:
def del_emp_id(id):
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    cur.execute('''
                    delete from employees where id = ?
                ''',(id,))
    conn.commit()
    conn.close()
    print('Employee got deleted')

2. Delete at least 1 employee and display the remaining records.

In [41]:
del_emp_id(27)
fetch_employees()

Employee got deleted
(1, 'Hemanth', 30, 'Data scientist')
(2, 'Raju', 29, 'HR')
(12, 'babji', 38, 'manager')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(90, 'bannu', 37, 'CEO')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [43]:
def filter_age(age):
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    cur.execute('''
                    select * from employees where age > ?
                ''',(age,))
    data = cur.fetchall()
    print(f'Employee whose age is greater than {age}')
    for record in data:
        print(record)
    conn.close()
    
filter_age(29)

Employee whose age is greater than 29
(1, 'Hemanth', 30, 'Data scientist')
(12, 'babji', 38, 'manager')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(90, 'bannu', 37, 'CEO')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [47]:
def filter_like(letter):
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    cur.execute(' select * from employees where name like ? ',(letter+'%',))
    data = cur.fetchall()
    print(f'Employee whose name starts with letter -- {letter}')
    for record in data:
        print(record)
    conn.close()
    
filter_like('H')

Employee whose name starts with letter -- H
(1, 'Hemanth', 30, 'Data scientist')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [51]:
def insert_multi_emp(employee):
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    try:
        cur.executemany('''
                        insert into employees(id,name,age,department)
                    values(?,?,?,?)
                    ''',employee)
        conn.commit()
        print("All the rows got inserted succesfully")
    except Exception as e:
        print(f"Rows not inserted due to the error : {e}")
        conn.rollback()
    finally:
        conn.close()



employee = [(67,'Rambabu',45,'Data Analyst'),
            (62,'krishna',55,'Data Engineer'),
            (71,'Iqbal',35,'Data Engineer'),
            (143,'Irfan',32,'Data Scientist')]


insert_multi_emp(employee)

All the rows got inserted succesfully

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [54]:
def multi_updates_emp(updt_emp):
    conn = sqlite3.connect('test.db')
    cur =conn.cursor()
    try:
        cur.executemany('''
                        update employees
                        set age = ?
                        where id = ?
                    ''', updt_emp)
        conn.commit()
        print("Records got updated successfully")
    except Exception as e:
        print(f"records didn't updated due to the error : {e}")
        conn.rollback()
    finally:
        conn.close()

updt_emp = [(36, 71),
            (56, 62),
            (31, 2)]

print(".......................................................")
print("Records before inserting")
fetch_employees()
print(".......................................................")
multi_updates_emp(updt_emp)
print(".......................................................")
print("records after inserting")
fetch_employees()

.......................................................
Records before inserting
(1, 'Hemanth', 30, 'Data scientist')
(2, 'Raju', 29, 'HR')
(12, 'babji', 38, 'manager')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(62, 'krishna', 55, 'Data Engineer')
(67, 'Rambabu', 45, 'Data Analyst')
(71, 'Iqbal', 35, 'Data Engineer')
(90, 'bannu', 37, 'CEO')
(143, 'Irfan', 32, 'Data Scientist')
.......................................................
Records got updated successfully
.......................................................
records after inserting
(1, 'Hemanth', 30, 'Data scientist')
(2, 'Raju', 31, 'HR')
(12, 'babji', 38, 'manager')
(42, 'Ramu', 32, 'Data scientist')
(54, 'Ravi', 42, 'Data analyst')
(62, 'krishna', 56, 'Data Engineer')
(67, 'Rambabu', 45, 'Data Analyst')
(71, 'Iqbal', 36, 'Data Engineer')
(90, 'bannu', 37, 'CEO')
(143, 'Irfan', 32, 'Data Scientist')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [55]:
def dept_table_creation():
    conn = sqlite3.connect('test.db')
    cur = conn.cursor()
    cur.execute('''
                create table if not exists departments(
                id integer primary key,
                name text not null)
                ''')
    conn.commit()
    conn.close()
    print("departments table created succesfully")
dept_table_creation()

departments table created succesfully

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [58]:
import shutil

def backup_fun():
    shutil.copy('test.db','test_bck.db')
    print("backup created")

backup_fun()

backup created

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [59]:
def restore_fun():
    shutil.copy('test_bck.db', 'test.db')
    print("restore done.")

restore_fun()

restore done.