# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [11]:
#tpl = (1,2,3,4,5,6,7,8,9,10)
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(f"first element of the tuple {tpl[0]}")
print(f"Last element of the tuple {tpl[-1]}")
print(f"middle element of the tuple {tpl[len(tpl)//2]}")

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [15]:
print(f"First 3 elements of the tuple are : {tpl[:3]}")
print(f"Last 3 elements of the tuple are : {tpl[-3:]}")
print(f"Elements from index 2 to 5 of the tuple are : {tpl[2:5]}")

First 3 elements of the tuple are : (1, 2, 3)
Last 3 elements of the tuple are : (8, 9, 10)
Elements from index 2 to 5 of the tuple are : (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
nested_tpl = ((1,2,3),(4,5,6),(7,8,9))
nested_tpl[1][2]

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tpl_1 = (1,2,3)
tpl_2 = (4,5,6)
concatenation = tpl_1 + tpl_2
print(concatenation)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
dup_tpl = (1,2,2,4,6,7,8,8)
print(f"occurance of an element 8 is : {dup_tpl.count(8)}")
print(f"Index of first occurance of an element is : {dup_tpl.index(2)}")

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tpl = 1,2,"Hemanth", 5.7, "hello"
sno, id, name, height, message = tpl

print(sno)
print(id)
print(name)
print(height)
print(message)

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(type(tpl))

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [16]:
nested_tpl = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = (1,2,3,4,5)
lst = list(tpl)
print(type(lst))
lst.append(6)
print(lst)
tpl = tuple(lst)
print(tpl)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [18]:
tpl = ("hello"," ","world","!!!")
joined_tpl = ''.join(tpl)
print(joined_tpl)

hello world!!!

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [1]:
nested_tpl = ((1,2,3),(4,5,6),(7,8,9))
#each_element = [nested_tpl[x][y] for x in range(len(nested_tpl)) for y in range(len(nested_tpl))]
each_element = [y for x in nested_tpl for y in x]
tuple(each_element)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [2]:
tpl = (1,2,3,4,4,5,6,6,7)
set_elements = set(tpl)
print(set_elements)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [9]:
def aggregation (tpl):
    min_value = min(tpl)
    print(f"minimum value of the tuple : {min_value}")
    max_value = max(tpl)
    print(f"maximum value of the tuple : {max_value}")
    sum_elements = sum(tpl)
    print(f"sum of the elements of the tuple : {sum_elements}")
    

tpl = (1,2,3,4,5,6,7,8,9,10)
aggregation(tpl)

minimum value of the tuple : 1
maximum value of the tuple : 10
sum of the elements of the tuple : 55