# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
st = set(range(1,11))
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
st.add(11)
st.discard(1) #this will help to remove a element. even the element is not there it wont show an error.
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [34]:
set_1 = set(range(1,6))
set_2 = set(range(2,11,2))
print(set_1)
print(set_2)

union_set = set_1.union(set_2)
print(f"union set : {union_set}")

union_set = set_1.intersection(set_2)
print(f"intersection set : {union_set}")

union_set = set_1.difference(set_2)
print(f"difference set : {union_set}")

union_set = set_1.symmetric_difference(set_2)
print(f"symmetric_difference set : {union_set}")


print(f"Union: {set_1 | set_2}")
print(f"Intersection: {set_1 & set_2}")
print(f"Difference (set_1 - set_2): {set_1 - set_2}")
print(f"Symmetric Difference: {set_1 ^ set_2}")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
union set : {1, 2, 3, 4, 5, 6, 8, 10}
intersection set : {2, 4}
difference set : {1, 3, 5}
symmetric_difference set : {1, 3, 5, 6, 8, 10}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set_1 - set_2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
set_1 = set(range(1,11))
squares = {x*x for x in set_1}
squares

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [14]:
even_numbers = {x for x in set_1 if x%2 == 0}
even_numbers

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [16]:
set_dup = {1,2,2,3,4,5,5,6,7,7}
set_dup

{1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [38]:
set_1 = set(range(1,6))
set_2 = set(range(1,4))
print(set_1)
print(set_2)

print(f"subset : {set_2.issubset(set_1)}")
print(f"superset : {set_1.issuperset(set_2)}")

{1, 2, 3, 4, 5}
{1, 2, 3}
subset : True
superset : True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [19]:
set_1 = {1,2,3,4,5,6,7}
frozen_st = frozenset(set_1)
frozen_st

frozenset({1, 2, 3, 4, 5, 6, 7})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [27]:
st = set(range(1,6))
print(st)
lst = list(st)
lst.append(6)
print(lst)
st = set(lst)
print(st)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

1
2
3
4
5
6
7
8

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [45]:
st = {1,2,3,4,5,6,7,8}
for e in st:
    print(e)

1
2
3
4
5
6
7
8

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [46]:
while st:
    st.pop()
    print(st)

{2, 3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{5, 6, 7, 8}
{6, 7, 8}
{7, 8}
{8}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [48]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {4,5,6,7,8,9,10}

set_1.symmetric_difference_update(set_2)
print(set_1)

{1, 2, 3, 8, 9, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [50]:
set_1 = {1,2,3,4,5,7,8,9}

print(3 in set_1)
print(6 in set_1)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [33]:
st_tup = {(1,2),(2,4),(3,6)}
print(st_tup)

{(2, 4), (1, 2), (3, 6)}